.app-main {
  min-height: 100vh;
}

.asterisk {
  color: red;
}

.alert-bar .alert {
  margin: 0px
}

.modal-open {
  overflow: scroll;
}

.page-view {
  margin: 30px;
  margin-top: 10px
}

.card {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-buttons {
  float: right;
}

.float-right-class {
  float: right;
}

.selected-card {
  background-color: #e8f6fc !important;
}

.pagination-bar {
  text-align: center;
}

.pagination-bar .dropdown-menu {
  min-width: 5rem !important;
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: scroll;
}

.inline-block-class {
  display: inline-block;
}

.left-margin-class {
  margin-left: 30px;
}