.app-main {
  min-height: 100vh;
}

.asterisk {
  color: red;
}

.alert-bar .alert {
  margin: 0px
}

.modal-open {
  overflow: scroll;
}

.page-view {
  margin: 30px;
  margin-top: 10px
}

.card {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-buttons {
  float: right;
}

.terminate-button {
  float: right;
}